<main role="main" class="container my-auto">
    <div class="row">
        <div id="login" class="col-lg-4 offset-lg-4 col-md-6 offset-md-3
            col-12">
            <h2 class="text-center">Login LusiDrola</h2>
            <img class="img-fluid mx-auto d-block rounded"
                src="/assets/img/imgLogin.jpeg" />

            <form>
                <div class="form-group">
                    <label for="correo">Nombre</label>
                    <input id="correo" name="correo"
                        class="form-control" type="text"
                        placeholder="Nombre"
                        [(ngModel)] = "usuario.user" required autofocus>
                </div>
                <div class="form-group">
                    <label for="contra">Contraseña</label>
                    <input id="contra" name="contra"
                        class="form-control" type="password"
                        placeholder="Contraseña"
                        [(ngModel)] = "usuario.passwd" required>
                </div>
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="recuerdame" value="recuerdame" [(ngModel)]="recuerdame" >Recuérdame
                    </label>
                </div>
                <button class="btn btn-primary mb-2" (click)="login($event);">Entrar</button>
                <br>
            </form>
        </div>
    </div>
</main>
