<li appMostrarPropietario [disp]="disp" class="list-group-item d-flex justify-content-between align-items-center">
    <div class="" style="max-width: 100px;">
        <img src="{{placa.photo}}" class="rounded" style="width: 250px;">
    </div>
    <div>
        <div>
            <p>Id: {{placa.id}}</p>
            <p>Ciudad: {{placa.city | uppercase}}</p>
            <p>Potencia: {{placa.power | toKW}}</p>
            <p #disp style="display: none;">Propietario: {{placa.propietario}}</p>
        </div>
    </div>
    <div>
        <a class="btn btn-dark" [routerLink]="['/placa', placa.id]">Detalles</a>
        <br><br>
        <a class="btn btn-dark" [routerLink]="['/placa/edit', placa.id]">Editar</a>
        <br><br>
        <button class="btn btn-dark" (click)="anuncio()">Anunciar error</button>
    </div>
</li><br>